asn1crypto==0.24.0
cryptography==2.1.4
dj-database-url==0.5.0
Django==2.1
django-crispy-forms==1.7.2
django-heroku==0.3.1
EasyProcess==0.2.7
enum34==1.1.6
gunicorn==19.9.0
html5lib==1.0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
mechanize==0.4.2
Pillow==6.1.0
psycopg2==2.8.3
pycairo==1.16.2
pycrypto==2.6.1
PySocks==1.7.0
pytz==2019.2
PyVirtualDisplay==0.2.4
pyxdg==0.26
SecretStorage==2.3.1
selenium==3.141.0
six==1.12.0
urllib3==1.25.3
webencodings==0.5.1
whitenoise==4.1.3
